@charset "UTF-8";
/* CSS Document */

/****************************
		Default
****************************/
*{
	padding:0;
	margin: 0;
}
body{
	font-size: 62.5%;
	color: #444;
}
h1, h2{
	font-family: "Droid Serif",serif;
	color: #000;
	padding: 1.5rem 20px;
}
h1{
	font-size: 3.6rem;
}
h2{
	font-size: 2.4rem;
    /* Since one of the last titles in the json file is too long, text wrapping must be done.*/
    word-wrap: break-word;
}
p, li, a{
	font-family: "Droid Sans",sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
	color: #444;
	padding: 1.5rem 20px;
}

/****************************
		Layout
****************************/
.wrapper{
	width: 960px;
	background-color: #e4e4e4;
	border:1px solid #333;
	margin:0 auto;
}
.masthead{

}
.nav{
	height: 3.0rem;
	border-top:1px solid #333;
	border-bottom:4px solid #333;
}
.main{
	/* use two-thirds or PHI to set the width of this column */
    float: right;
    width: 66.66%;
}
.sidebar{
	/* use one-third or PHI to set the width of this column */
    float: left;
    width: 33.33%;
}
.footer{
	border-top:1px solid #333;
	clear:both;
}

/****************************
		Masthead
****************************/
.masthead{
	background-color: #333;
}
.masthead h1{
	color: #eee;
}

/****************************
	Navigation & Controls
****************************/
.nav a{

}
.btn{
	display:inline-block;
	margin: 0.5rem 20px;
	border:1px solid #333;
	border-radius: 8px;
	width: 120px;
	background:#F96;
	line-height: 2.0rem;
	font-size: 1.0rem;
	font-weight: bold;
	text-align:center;
	cursor: pointer;
}

/****************************
		Content
****************************/

.footer p{
	font-size: 1.2rem;
	color: #888;
}

/****************************
	Data Output Styles
****************************/
#output1{
    width: 100%;
    margin: 0 auto;
}

.output-img {
    /* Make sure that every image is fit within width of main section. */
    width: 80%;
    display: block;
    padding-left: 20px;
}

.output-author{
    float: left;
    font-style: italic;
    font-size: 1rem;
}

.output-date{
    float: right;
    font-size: 1rem;
    margin-right: 3rem;
}

.output-description{
    clear: both;
}

.output-link{
    color: blue;
    font-size: 1rem;

    /*anchor is inline element by default, so link wraps in the empty space of output2 whose
    column width is small. To keep the alignment, change it s display to block. */
    display: block;
}

#output2{
    width: 100%;
    margin: 0 auto;
}

.small-heading{
    font-size: 1.4rem;
}
.small-text{
    font-size: 1em;
    padding-left: 20px;
}
